.pageContainer {
  padding: 16px;
}

.pageHeader {
  text-align: left;
}

.input {
  margin-top: 16px;
}

.mainTopicHeader {
  margin-top: 32px;
}

.relatedTopicsHeader {
  margin-top: 32px;
  font-weight: normal;
}

.topicName {
  font-weight: bold;
}
