.pageContainer {
  padding: 16px;
}

.pageHeader {
  text-align: left;
}

.mainTopicHeader {
  padding-top: 16px;
}

.list {
  padding: 0;
  list-style: none;
}

.listItem {
  padding: 16px 0;
  border-top: 1px solid gray;
}

.topicName {
  font-weight: bold;
}
